{{define "main"}}
<main class="signin-main">
  <div class="grid place-items-center h-full">
    <div class="bg-white sign-in-box">
      <div class="max-w-xs my-0 mx-auto">
        <div class="grid place-items-center mb-9">
          <img src="/static/images/logo-2.svg" alt="LeetCode" class="h-20" />
        </div>
        {{template "auth_form" .}}
        <div class="mt-5 mx-auto flex flex-col justify-center items-center">
          <span class="text-sm text-color-2">or you can sign in with</span>
          <div class="flex align-centter justify-center gap-4 mt-2">
            <a href="/accounts/auth/google"
              ><i class="fa-brands fa-google text-2xl text-color-2"></i
            ></a>
            <a href="/accounts/auth/google"
              ><i class="fa-brands fa-github text-2xl text-color-2"></i
            ></a>
            <a href="/accounts/auth/google"
              ><i class="fa-brands fa-facebook text-2xl text-color-2"></i
            ></a>
            <a href="/accounts/auth/google"
              ><i class="fa-brands fa-linkedin text-2xl text-color-2"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{end}}
