{{define "main"}}
<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.27.0/min/vs/editor/editor.main.min.css"
  />
</head>
<main class="">
  <div class="flex">
    <div class="flex-1 m-2 p-2 border-2 bg-gray-300">
      {{with .Problem}}
      <h1 class="font-bold text-2xl">{{.Title}}</h1>
      <div>{{.Content}}</div>
      {{end}}
    </div>
    <div class="flex-1 m-2 p-2 border-2 bg-gray-300">
      <div id="editor" style="height: 90%"></div>
      <div class="float-right mt-2">
        <button class="p-2 bg-color-4 rounded-lg" onclick="handleRunClick()">
          Run
        </button>
        <button class="p-2 bg-color-3 rounded-lg text-white">Submit</button>
      </div>
    </div>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.27.0/min/vs/loader.js"></script>
<script id="jsonData" type="application/json">
  {{ . }}
</script>
<script>
  let editor;
  var jsonDataElement = document.getElementById("jsonData");
  var data = JSON.parse(jsonDataElement.textContent);

  require.config({
    paths: {
      vs: "https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.27.0/min/vs",
    },
  });

  require(["vs/editor/editor.main"], function () {
    // Initialize the Monaco Editor
    editor = monaco.editor.create(document.getElementById("editor"), {
      value: `function test(){\n\tconsole.log("Hello, Monaco Editor!");\n}`,
      language: "javascript",
    });
  });

  function handleRunClick() {
    let userCode = editor.getValue();
    fetch("/problems/run", {
      method: "POST",
      body: JSON.stringify({
        problem_id: data.Problem.ID,
        typed_code: editor.getValue(),
        lang: "javascript",
      }),
    });
  }
</script>
{{end}}
